.ac-json-panel {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

.ac-json-panel--button {
  margin-right: 10px;
}

.ac-json-panel--buttons {
  margin-bottom: 10px;
}

.ac-json-panel__text-area {
  background: White;
  border-radius: 0.5em;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 0.5em;
}
