.app {
  background: #f7f7f7;
  display: flex;
  height: 100%;
}

@media (orientation: portrait) {
  .app {
    flex-direction: column;
  }
}

.app__set {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app__panel-title {
  font-size: 150%;
  font-weight: lighter;
  margin: 10px 10px 0;
}

.app__panel-body {
  flex: 1;
}
